header {
    top: 0;
    z-index: 999;
    position: sticky;
    height: 5rem;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
    margin-bottom: 5rem;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 65rem;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 2em;
    font-weight: bold;
    margin-block-start: -.75rem;
    font-family: 'Oswald', sans-serif;
    color: var(--green);
}



nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.link-entrar {
    border: 1px solid var(--green);
    padding: .75rem;
    border-radius: .25rem;
}

.link-entrar:hover {
    cursor: pointer;
    color: var(--green);
}

.link-entrar:active, .link-entrar:active > a {
    text-decoration: none;
    color: white;
    background-color: var(--green);
}

a {
    user-select: none;
}

a:hover {
    
    cursor: pointer;
}

nav ul li a:hover {
    color: var(--green);
}

nav ul li a:active {
    color: var(--links-active-green);
}




.btn-header {
    background-color: transparent;
    border: none;
    font-size: medium;
    padding: 0 1rem;
}

.btn-header:hover {
    
    cursor: pointer;
    color: var(--green);
    border-bottom: 5px solid var(--green);
    transition: .1s;
}

