
<header #header (window:resize)="manageScreenSize(header.offsetWidth)" >
    <div class="wrapper">
        <a class="logo" routerLink="/">
            gamestore 
            <span class="material-symbols-rounded">
                joystick
            </span>
        </a>
        <nav *ngIf="!mobile">
            <ul class="links">
                <li><a routerLink="jogos">Jogos</a></li>
                <li><a routerLink="">Desenvolvedoras</a></li>
                <div class="search-wrapper">
                    <form (submit)="handleSubmitSearch()">
                        <span class="material-symbols-rounded">search</span>
                        <input class="search-input" type="text" placeholder="Pesquisar..." [formControl]="search" (keyup)="handleChangeSearch()"/>
                    </form>
    
                    <div class="search-dropdown" *ngIf="jogos.length" @fromTopToTop id="search-dropdown">
                        <!-- <a class="jogo" routerLink="/jogos/dark-souls-remastered">
                            <div class="img-wrapper">
                                <img src="https://cdn.cloudflare.steamstatic.com/steam/apps/570940/capsule_616x353.jpg"/>
                            </div>
                            <div class="jogo__info">
                                <p class="singleline-truncate jogo__nome">Dark Souls: Remastered</p>
                                <p class="jogo__desenvolvedora">FromSoftware, Inc</p>
                                <p class="jogo__preco">R$ 259,99</p>
                            </div>
                        </a> -->
                        <a class="jogo" *ngFor="let jogo of jogos" href="/jogos/{{jogo.uriNome}}">
                            <div class="img-wrapper">
                                <img src="{{jogo.urlImagem}}"/>
                            </div>
                            <div class="jogo__info">
                                <p class="singleline-truncate jogo__nome">{{jogo.nome}}</p>
                                <p class="jogo__desenvolvedora">{{jogo.desenvolvedora?.nome}}</p>
                                <p class="jogo__preco">{{jogo.preco === 0 ? 'Gratuito' : jogo.preco | currency: 'BRL'}}</p>
                            </div>
                        </a>
                    </div>
                </div>
                
            </ul>
            <ul class="account-actions">
                <li><a>Cadastrar</a></li>
                <li class="link-entrar"><a>Entrar</a></li>
            </ul>
        </nav>
        <nav class="mobile" *ngIf="mobile" >
            <button class="mobile-menu-btn" (click)="showMobileMenu = !showMobileMenu" [ngClass]="{'mobile--opened': showMobileMenu}">
                Menu 
                <span class="material-symbols-rounded icon--bolder" [ngClass]="{'icon-opened': showMobileMenu}">expand_more</span>
            </button>
        </nav>
    </div>
    
</header>
<div class="mobile-menu" *ngIf="showMobileMenu" @fromTopToTop>
    <ul class="links">
        <form (submit)="handleSubmitSearch()">
            <span class="material-symbols-rounded">search</span>
            <input class="search-input" type="text" placeholder="Pesquisar..." [formControl]="search"/>
        </form>
        <li><a routerLink="jogos">Jogos</a></li>
        <li><a routerLink="desenvolvedoras">Desenvolvedoras</a></li>
        <li><a>Cadastrar</a></li>
        <li><a>Entrar</a></li>
    </ul>
</div>
<router-outlet></router-outlet>
