
<header #header (window:resize)="manageScreenSize(header.offsetWidth)">
    <div class="wrapper">
        <a class="logo" routerLink="/">
            gamestore 
            <span class="material-symbols-rounded">
                joystick
            </span>
        </a>
        <nav *ngIf="!mobile">
            <ul class="links">
                <li><a routerLink="jogos">Jogos</a></li>
                <li><a routerLink="">Desenvolvedoras</a></li>
                <form class="input-wrapper" (submit)="handleSearch()">
                    <span class="material-symbols-rounded">search</span>
                    <input class="search-input" type="text" placeholder="Pesquisar..." [formControl]="search"/>
                </form>
                
            </ul>
            <ul class="account-actions">
                <li><a>Cadastrar</a></li>
                <li class="link-entrar"><a>Entrar</a></li>
            </ul>
        </nav>
        <nav class="mobile" *ngIf="mobile" >
            <button class="mobile-menu-btn" (click)="showMobileMenu = !showMobileMenu" [ngClass]="{'mobile--opened': showMobileMenu}">
                Menu 
                <span class="material-symbols-rounded icon--bolder" [ngClass]="{'icon-opened': showMobileMenu}">expand_more</span>
            </button>
        </nav>
    </div>
    
</header>
<div class="mobile-menu" *ngIf="showMobileMenu" @fromTopToTop>
    <ul class="links">
        <li><a routerLink="jogos">Jogos</a></li>
        <li><a routerLink="desenvolvedoras">Desenvolvedoras</a></li>
        <li><a routerLink="promocoes">Promoções</a></li>
        <li><a>Cadastrar</a></li>
        <li><a>Entrar</a></li>
    </ul>
</div>
<router-outlet></router-outlet>
