header {
    top: 0;
    z-index: 999;
    height: 5rem;
    display: flex;
    padding: 0 1rem;
    position: sticky;
    align-items: center;
    justify-content: center;
    box-shadow: var(--box-shadow-header-dark);
    background-color: var(--background-primary);
    border-bottom: 1px solid var(--primary-100);
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: var(--container-max-size);
}

.logo {
    display: flex;
    font-size: 2em;
    font-family: 'Saira Stencil One', cursive;
    align-items: center;
    color: var(--primary);
}

.dropdown li {
    display: none;
}


nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul {
    gap: 1rem;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
}

.link-entrar {
    padding: .75rem;
    border-radius: .25rem;
    border: 1px solid var(--primary);
}

.link-entrar:hover {
    cursor: pointer;
    color: var(--green);
}

.link-entrar:active, .link-entrar:active > a {
    color: white;
    text-decoration: none;
    background-color: var(--green);
}

a {
    user-select: none;
}

a:hover {
    cursor: pointer;
}

nav ul li a:hover {
    color: var(--primary);
}

nav ul li a:active {
}

@media (width <= 25rem) {

    .wrapper {
        margin: 0;
    }

    .account-actions li {
        display: none;
    }

    .dropdown li {
        display: block;
    }
}



