<meta http-equiv="Permissions-Policy" content="ch-ua-form-factor=()">

<header>
    <div class="wrapper">
        <a class="logo" routerLink="">
            gamestore 
            <span class="material-symbols-rounded">
                joystick
            </span>
        </a>
        <nav>
            <ul class="account-actions">
                <li><a>Cadastrar</a></li>
                <li class="link-entrar"><a>Entrar</a></li>
            </ul>
            <ul class="dropdown">
                <li><a>Drop</a></li>
            </ul>
        </nav>
    </div>
</header>
<router-outlet></router-outlet>
