.container {
    gap: 1rem;
    display: flex;
    max-width: 120rem;
    align-items: center;
    margin-inline: auto;
    justify-content: center;
    position: relative;
}

.hero {
    inset: 0;
    z-index: 1;
    opacity: .5;
    max-width: 100%;
    overflow: hidden;
    min-height: 30rem;
    position: absolute;
}

.hero::after {
    inset: 0;
    z-index: 2;
    content: '';
    position: inherit;
    background-color: transparent;
    box-shadow: inset -5px -100px 36px -35px var(--background-primary);
}

.hero__img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}


.jogo {
    gap: 1rem;
    z-index: 2;
    margin: 2rem;
    display: grid;
    max-width: 75rem;
}

.jogo__principal {
    gap: 1rem;
    z-index: 1;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.jogo__nome {
    text-shadow: 0 1px 15px black;
}

.jogo__video {
    width: 100%;
    display: block;
    aspect-ratio: 16 / 9;  
}

.jogo__info {
    max-width: 25rem;
    display: grid;
    gap: .25rem;
}

.jogo__img {
    width: 100%;
    display: block;
}

.jogo__descricao {
    backdrop-filter: blur(5px);
    padding: .5rem;
    text-shadow: 0 1px 5px black;
}

.jogo__descricao > a {
    text-decoration: underline;
    color: var(--primary);
}

.jogo__preco {
    display: grid;
    place-items: center;
    color: var(--primary);
}

.jogo__nota {
    /* --color: ; <- conditional */
    display: flex;
    padding: .5rem;
    flex-wrap: wrap;
    color: rgb(var(--color));
    align-items: center;
    backdrop-filter: blur(15px);
    justify-content: space-between;
    background-color: rgb(0, 0, 0, .5);
    /* background-color: rgba(0, 0, 0); */
}

.stars {
    display: flex;
    align-items: center;
}

.stars > p {
    margin-left: .5rem;
    background-color: rgba(var(--color), .2);
    padding-inline: .25rem;
}

.stars > span {
    padding-bottom: .25rem;
}

.jogo__actions {
    display: grid;
    gap: .25rem;
    grid-template-columns: auto auto 1fr;
}

.jogo__actions > * {
    padding: .5rem;
    color: var(--primary);
    background-color: black;
    box-shadow: var(--box-shadow-primary);
}


.favorite-btn,
.carrinho-btn {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: medium;
    gap: .25rem;
    transition: 150ms ease-in-out;

    > span {
        transition: 150ms ease-in-out;
    }
}



.favorite-btn:active,
.carrinho-btn:active {
    scale: .95;
    transition: 50ms ease-in;
}

.favorite-btn:active > span {
    scale: 1.15;
    transition: 50ms ease-in;
}


.favorite-btn:hover {
    cursor: pointer;

    > span {
        font-variation-settings: 'FILL' 1;
    }
}

.carrinho-btn:hover {
    cursor: pointer;
    outline: 1px solid var(--primary);
}

@media (width <= 1000px) {
    .jogo__nota {
        justify-content: center;
    }
}

