.container {
    gap: 1rem;
    display: flex;
    max-width: 120rem;
    align-items: center;
    margin-inline: auto;
    justify-content: center;
    position: relative;
}

.hero {
    z-index: 1;
    opacity: .5;
    max-width: 100%;
    min-height: 30rem;
    position: absolute;
    overflow: hidden;
    inset: 0;
}

.hero::after {
    content: '';
    position: inherit;
    inset: 0;
    z-index: 2;
    background-color: transparent;
    box-shadow: inset -5px -100px 36px -35px var(--background-primary);
}

.hero__img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}


.jogo {
    z-index: 2;
    margin: 2rem;
    display: grid;
    max-width: 75rem;
}

.jogo__principal {
    z-index: 1;
    gap: 1rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.jogo__video {
    width: 100%;
    display: block;
    aspect-ratio: 16 / 9;  
}

.jogo__img {
    display: block;
    width: 100%;
}

.jogo__descricao {
    padding: .5rem;
}

.border-grey {
    border: 1px solid var(--subtle-border-color);
}

.box-shadow-primary {
    box-shadow: var(--box-shadow-primary);
}

