<div class="container">
    <h5>🏠 > Jogos > {{jogo.nome}}</h5>
    <h1 class="jogo-titulo">
        {{jogo.nome}}   
    </h1>
    <div class="principal">
        <iframe class="video" width="100%" height="100%" src="https://www.youtube.com/embed/bWZ61JWLq30" title="Dark Souls™ II: Scholar of The First Sin Trailer" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <div class="jogo-info">
            <img class="jogo-img" src="https://cdn.cloudflare.steamstatic.com/steam/apps/335300/header.jpg?t=1682651964">
            <div class="info-wrapper">
                <div class="jogo-descricao">
                    <p class="multiline-truncate">{{jogo.descricao}}</p>
                </div>
                <div class="jogo-desenvolvedora">
                    <p class="label">Desenvolvedora: </p>
                    <p class="singleline-truncate">
                        <a href="#">FromSoftware, Inc</a>
                    </p>
                </div>
                    
                    
            </div>
            <div class="preco-comprar">
                <p class="jogo-preco">R$ {{jogo.preco}}</p>
                <button class="btn btn-carrinho">+ Carrinho 🛒</button>
            </div>
        </div>
    </div>
    <div class="tag-row">
        <div *ngFor="let categoria of jogo.categorias" class="categoria">
            <p>{{categoria.nome}}</p>
        </div>
        <span class="spacer-vertical">|</span>
        <div *ngFor="let plataforma of jogo.plataformas" class="plataforma">
            <p>{{plataforma.nome}}</p>
        </div>
    </div>
    
    <div class="info-secundaria-wrapper">
        <div class="info-secundaria card">
            <div>
                <h4>🖊️ Sobre o jogo</h4>
                <div class="descricao-completa">
                    <p>{{jogo.descricao}}</p>
                </div>
            </div>
            <div>
                <h4>🖥️ Requisitos de Sistema</h4>
                <div class="requisitos">
                    <div>
                        <h5>Minimos</h5>
                        <p><span>OS: </span> Windows 10</p>
                        <p><span>Processador: </span>Intel i5 3470, AMD FX 6350</p>
                        <p><span>Memória: </span>8 GB</p>
                        <p><span>Placa de Vídeo: </span>NVIDIA GeForce 670 GTX or AMD Radeon R9 285 (2 GB of VRAM, Shader Model 5.0)</p>
                        <p><span>Armazenamento: </span> 60 GB de espaço disponível</p>
                    </div>
                    <div>
                        <h5>Recomendados</h5>
                        <p><span>OS: </span> Windows 10</p>
                        <p><span>Processador: </span>Intel i5 4690k, AMD Ryzen 5 1400</p>
                        <p><span>Memória: </span>16 GB</p>
                        <p><span>Placa de Vídeo: </span>NVIDIA GeForce 970 GTX or AMD Radeon RX 480 (4 GB of VRAM, Shader Model 5.1)</p>
                        <p><span>Armazenamento: </span> 60 GB de espaço disponível</p>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="card">
            ⭐{{jogo.nota}}
        </div>
        
    </div>

</div>
