<div class="container">
    <app-auth-header></app-auth-header>

    <form [formGroup]="form" (ngSubmit)="handleSubmit()">
        <div class="title-wrapper">
            <p class="title">Cadastro</p>
            <p class="subtitle">Já tem uma conta? Faça o <a routerLink="/sing-in">login</a>.</p>
        </div>
        <div class="error-wrapper error" *ngIf="error">
            <span class="material-symbols-rounded">error</span>
            <p>Algo de errado ocorreu.</p>
        </div>
        <div class="form-group">
            
            <label>Nome de usuário</label>
            <div class="input-wrapper" [ngClass]="{ 'input--invalid': isInvalid(username!), 'input--valid': username?.valid }">
                <input type="text" formControlName="username">
                <span class="material-symbols-rounded" [ngClass]="{ 'error': isInvalid(username!), 'success': username?.valid }">
                    {{ isInvalid(username!) ? 'close' : ''}}
                    {{ username?.valid ? 'check' : ''}}
                    <div style="margin-right: .25rem;" *ngIf="username?.pending">
                        <app-loader></app-loader>
                    </div>
                </span>
            </div>
            
            <div class="errors" *ngIf="isInvalid(username!)">
                <p class="error" *ngIf="isError('username', 'taken')">Nome de usuário indisponível.</p>
                <p class="error" *ngIf="isError('username', 'required')">Nome de usuário é requerido.</p>
            </div>
        </div>
        <div class="form-group">
            <label>E-mail</label>
            <div class="input-wrapper" [ngClass]="{ 'input--invalid': isInvalid(email!), 'input--valid': email?.valid }">
                <input type="text" formControlName="email">
                <span class="material-symbols-rounded" [ngClass]="{ 'error': isInvalid(email!), 'success': email?.valid }">
                    {{ isInvalid(email!) ? 'close' : ''}}
                    {{ email?.valid  ? 'check' : ''}}
                    <div style="margin-right: .25rem;" *ngIf="email?.pending">
                        <app-loader ></app-loader>
                    </div>
                </span>
            </div>
            <div class="errors" *ngIf="isInvalid(email!)">
                <p class="error" *ngIf="isError('email', 'taken')">E-mail já cadastrado.</p>
                <p class="error" *ngIf="isError('email', 'required')">E-mail é requerido.</p>
                <p class="error" *ngIf="isError('email', 'email')">E-mail inválido.</p>
            </div>
        </div>
        <div class="form-group">
            <label>Senha</label>
            <div class="input-wrapper" [ngClass]="{ 'input--invalid': isInvalid(senha!), 'input--valid': senha?.valid }">
                <input type="password" formControlName="senha">
                <span class="material-symbols-rounded" [ngClass]="{ 'error': isInvalid(senha!), 'success': senha?.valid }">
                    {{ isInvalid(senha!) ? 'close' : ''}}
                    {{ senha?.valid ? 'check' : ''}}
                </span>
            </div>
            <div class="errors" *ngIf="isInvalid(senha!)">
                <p class="error" *ngIf="isError('senha', 'required')">Senha é requerida.</p>
                <p class="error" *ngIf="isError('senha', 'minlength')">Senha precisa ter no mínimo 5 caractéres.</p>
            </div>
        </div>
        <div class="form-group">
            <label>Confirmar senha</label>
            <div class="input-wrapper" [ngClass]="{ 'input--invalid': isInvalid(confirmarSenha!), 'input--valid': confirmarSenha?.valid }">
                <input type="password" formControlName="confirmarSenha">
                <span class="material-symbols-rounded" [ngClass]="{ 'error': isInvalid(confirmarSenha!), 'success': confirmarSenha?.valid }">
                    {{ isInvalid(confirmarSenha!) ? 'close' : ''}}
                    {{ confirmarSenha?.valid ? 'check' : ''}}
                </span>
            </div>
            <div class="errors" *ngIf="isInvalid(confirmarSenha!)">
                <p class="error" *ngIf="isError('confirmarSenha', 'required')">Confirmação da senha é requerida.</p>
                <p class="error" *ngIf="isError('confirmarSenha', 'matching')">Senhas não coincidem.</p>
            </div>
        </div>
        <button class="btn-submit" [disabled]="form.invalid || username?.pending || email?.pending || submitting" [ngClass]="{'btn-submit--disabled': form.invalid || username?.pending || email?.pending || submitting }" type="submit">
            <app-loader *ngIf="submitting"></app-loader>
            <p *ngIf="!submitting">Cadastrar</p>
        </button>
    </form>
</div>
