.container {
    display: grid;
    min-height: 30rem;
    margin-inline: auto;
}

.header {
    display: grid;
    position: relative;
    place-items: center;
    padding: 3rem;
}


.line {
    z-index: 1;
    min-width: 100%;
    position: absolute;
    max-width: max-content;
    border-top: 1px solid var(--subtle-border-color);

}

.logo {
    z-index: 2;      
    display: grid;
    padding: .5rem 2rem;  
    background-color: var(--background-primary);
}

form {
    gap: 1rem;
    width: 100%;
    display: grid;
    max-width: 27rem;
    margin-bottom: 3rem;
    padding: 1rem;
    place-self: center;
    color: var(--secondary-text-dark);
    font-size: var(--font-normal);
    
}

.title-wrapper {
    margin-bottom: 1rem;
}

.title-wrapper .title {
    color: white;
    font-size: 1.75rem;
    font-weight: bolder;
}

.title-wrapper .subtitle {
    font-size: var(--font-normal);
}

.subtitle a {
    color: var(--primary);
}

.input-wrapper {
    display: grid;
    gap: .25rem;
    color: whitesmoke;
}

.input-wrapper input {
    font-size: var(--font-normal);
    font-family: inherit;
    padding: .5rem;
    padding-inline-start: .75rem;
    border: none;
    background-color: black;
    border-radius: .25rem;
    outline: 1px solid rgba(255, 255, 255, .2);
    transition: outline 75ms ease;

    &:focus {
        outline: 2px solid var(--primary);
    }
}

.btn-submit {
    border: none;
    background-color: rgba(var(--primary-number), .7);
    border-radius: .25rem;
    padding: .5rem;
    font-size: var(--font-normal);
    font-family: inherit;
    margin-top: 1rem;
    transition: border-radius 75ms ease;

    &:hover {
        cursor: pointer;
        border-radius: .5rem;
    }

    &:active {
        background-color: rgba(var(--primary-number), .8);
    }
}

.btn-submit--disabled {
    background-color: rgba(var(--primary-number), .3);
    &:hover {
        cursor: default;
        border-radius: .25rem;
    }
    &:active {
        background-color: rgba(var(--primary-number), .3);
    }
}

.error {
    color: rgb(var(--error));
}

.input--invalid {
    outline: 1px solid rgba(var(--error), 1) !important;
}



