.container {
    gap: .5rem;
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: black;
    text-align: center;
}

p {
    color: var(--secondary-text-dark);
    display: inline-block;
    font-size: var(--font-small);
}

.favorite {
    color: whitesmoke;
    font-size: 1.1rem;
    position: relative;
    top: .25rem;
}



a {
    color: var(--primary);
    text-decoration: none;
}

.ball {
    width: .25rem;
    height: .25rem;
    background-color: whitesmoke;
    border-radius: 50%;
}

@media (width <= 250px) {
    .container {
        flex-direction: column;
    }
}