.container {
    gap: 1rem;
    display: grid;
    max-width: 85rem;
    margin: 1rem auto;
    place-items: center;
    grid-template-columns: auto;
}

.carousel {
    display: grid;
    overflow: hidden;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    border: 1px solid var(--accent-100);
    box-shadow: var(--box-shadow-primary);
}

.carousel__jogos {
    --content-border-radius: .5rem;
    gap: 2px;
    opacity: 0;
    display: grid;
    grid-area: 1 / 1 / 2 / 2;
    grid-template-columns: 2fr 1fr;
    transition: opacity 1s ease-in-out;
}

.carousel__jogos--current {
    opacity: 1;
    z-index: 99;
    transition: opacity 1s ease-in-out;
}

.carousel__jogo {
    overflow: hidden;
    position: relative;
}

.carousel__jogo:first-child {
    grid-row: span 2;
}

.carousel__jogo__img {
    width: 100%;
    height: 100%;
    display: block;
    transition: all 250ms ease-in-out;
}

.carousel__jogo__img:hover {
    scale: 1.05;
    cursor: pointer;
    transition: all 250ms ease-in-out;
}

.info-wrapper {
    left: 0;
    bottom: 0;
    padding: .5rem;
    position: absolute;
}

.carousel__jogo__info {
    gap: 1px;
    display: flex;
    box-shadow: var(--box-shadow-primary);
    border: 1px solid var(--subtle-border-color);
    background-color: var(--subtle-border-color);
}

.carousel__jogo__info > p {
    padding: .25rem .5rem;
    background-color: black;
}

.jogo__info__preco {
    color: var(--primary);    
}

.jogo__info__btn-fav {
    border: none;
    display: grid;
    place-items: center;
    background-color: black;
}

.fav-icon {
    cursor: pointer;
    color: var(--primary);
    font-size: 1.5em;
    font-variation-settings:
    'FILL' 0; 
}



.jogo__info__btn-fav:hover .fav-icon {
    font-variation-settings:
    'FILL' 1; 
}

.carousel__arrow {
    border: none;
    display: grid;
    place-items: center;
    color: var(--primary-500);
    background-color: transparent;
}

.carousel__arrow--mobile {
    display: none;
}

.carousel__arrow:hover {
    cursor: pointer;
    color: var(--primary);

}

.carousel__arrow:active {
    user-select: none;
}

.carousel__arrow > span {
    font-size: 3em;
}

.carousel__controls {
    grid-column: span 3;
}

.carousel__jumpers {
    gap: .75rem;
    display: flex;
}

.carousel__jumpers > .jumper {
    border: none;
    width: .75rem;
    height: .75rem;
    border-radius: 50%;
    transition: 75ms ease-in-out;
    background-color: var(--primary-500);
}

.carousel__jumpers > .jumper:hover {
    cursor: pointer;
}

.jumper--current {
    transition: 75ms ease-in-out;
    background-color: var(--primary) !important;
}

@media (width <= 75rem) {   
    .container {
        margin-inline: .25rem;
    }

    .card__info__descricao {
        -webkit-line-clamp: 3;
    }
}

@media (width <= 65rem) {
    .container {
        grid-template-columns: auto;
    }

    .carousel__controls {
        grid-column: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;

    }

    .carousel__arrow {
        display: none;
    }

    .carousel__arrow--mobile {
        display: grid;
        place-items: center;
        
    }

    .carousel__arrow--mobile > span {
        font-size: x-large;
    }
    

}

@media (width <= 55rem) {
    .carousel__jogo {
        grid-template-columns: 1fr;
    }
}








