header {
  top: 0;
  z-index: 9999;
  height: 5rem;
  display: flex;
  position: sticky;
  align-items: center;
  justify-content: center;
  background-color: black;
  box-shadow: var(--box-shadow-header-dark);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.wrapper {
  gap: 1rem;
  display: grid;
  grid-template-columns: auto 1fr;
  width: min(100% - 2rem, var(--container-max-size));
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

nav ul {
  gap: 1.5rem;
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
}

.links {
  list-style: none;
}

.link-entrar {
  padding: 0.75rem;
  border: 1px solid var(--primary);
}

.link-entrar:hover {
  cursor: pointer;
  color: var(--green);
}

.link-entrar:active,
.link-entrar:active > a {
  color: white;
  text-decoration: none;
  background-color: var(--green);
}

a {
  user-select: none;
  color: var(--accent);
  transition: color 75ms ease;
}

a:hover {
  cursor: pointer;
  color: var(--primary);
}

.mobile-menu-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: background-color 150ms ease;
  background-color: transparent;
  border: none;

}

.mobile-menu-btn > span {
  color: var(--primary);
}










