
<header #header (window:resize)="manageScreenSize(header.offsetWidth)">
	<div class="wrapper">
		<button *ngIf="mobile"
			id="btn-mobile-menu"
			class="mobile-menu-btn"
			(click)="openMobileMenu()"
			[ngClass]="{ 'mobile--opened': showMobileMenu}">
			<span id="icon-mobile-menu" class="material-symbols-rounded icon--bolder">menu</span>
		</button>
		<app-logo />
		<nav *ngIf="!mobile">
			<ul class="links">
				<li><a routerLink="jogos">Jogos</a></li>
				<li><a routerLink="">Desenvolvedoras</a></li>
			</ul>
			
			<ul class="account-actions">
				<app-search />
				<app-usuario-avatar ></app-usuario-avatar>
			</ul>

		</nav>

		
	</div>
</header>
<app-header-mobile *ngIf="showMobileMenu" (close)="closeMobileMenu()" />


