<header #header (window:resize)="manageScreenSize(header.offsetWidth)">
	<div class="wrapper">
		<app-logo />
		<nav *ngIf="!mobile">
			<ul class="links">
				<li><a routerLink="jogos">Jogos</a></li>
				<li><a routerLink="">Desenvolvedoras</a></li>
			</ul>
			
			<ul class="account-actions">
				<app-search />
				<app-usuario-avatar ></app-usuario-avatar>
			</ul>

		</nav>
		<nav class="mobile" *ngIf="mobile">
			<button
				class="mobile-menu-btn"
				(click)="showMobileMenu = !showMobileMenu"
				[ngClass]="{ 'mobile--opened': showMobileMenu }">
				<span class="material-symbols-rounded icon--bolder">menu</span>
			</button>
		</nav>
	</div>
</header>
<div class="mobile-menu" *ngIf="showMobileMenu" @fromTopToTop>
	<ul class="links">
		<li ><a (click)="showMobileMenu = !showMobileMenu" routerLink="jogos">Jogos</a></li>
		<li ><a (click)="showMobileMenu = !showMobileMenu" routerLink="desenvolvedoras" >Desenvolvedoras</a></li>
		<li ><a (click)="showMobileMenu = !showMobileMenu" routerLink="sing-up" >Cadastrar</a></li>
		<li ><a (click)="showMobileMenu = !showMobileMenu" routerLink="sing-in" >Entrar</a></li>
	</ul>
</div>
