<header #header (window:resize)="manageScreenSize(header.offsetWidth)">
	<div class="wrapper">
		<app-logo />
		<nav *ngIf="!mobile">
			<ul class="links">
				<li><a routerLink="jogos">Jogos</a></li>
				<li><a routerLink="">Desenvolvedoras</a></li>
			</ul>
			
			<ul class="account-actions">
				<app-search />
				<app-usuario-avatar ></app-usuario-avatar>
			</ul>

		</nav>
		<nav class="mobile" *ngIf="mobile">
			<button
				id="btn-mobile-menu"
				class="mobile-menu-btn"
				(click)="showMobileMenu = !showMobileMenu"
				[ngClass]="{ 'mobile--opened': showMobileMenu }">
				<span id="icon-mobile-menu" class="material-symbols-rounded icon--bolder">menu</span>
			</button>
		</nav>
	</div>
</header>
<app-header-mobile />
