<div #container class="container" *ngIf="jogo else loading" (window:resize)="manageScreenSize(container.offsetWidth)">
    <div class="hero">
        <img class="hero__img" src="{{jogo.urlImgHero}}" alt="{{jogo.nome}} - hero img">
    </div>
    <div class="jogo">
        <h1 class="jogo__nome">{{jogo.nome}}</h1>
        <app-slider-jogo *ngIf="mobile"></app-slider-jogo>
        <div class="jogo__principal">
            <iframe *ngIf="!mobile" class="jogo__video border-subtle box-shadow-primary hidden-mobile" [src]="getUrlVideo(jogo.urlVideo) | safe" frameborder="0" allowfullscreen title="{{jogo.nome}} - trailer"></iframe>

            <div class="jogo__card border-subtle box-shadow-primary">
                <img *ngIf="!mobile" class="jogo__img box-shadow-primary hidden-mobile" src="{{jogo.urlImagem}}" alt="{{jogo.nome}} - img">
                <div class="jogo__nota-desenvolvedora">
                    
    
                    <div class="jogo__desenvolvedora singleline-truncate">
                        <h5>Desenvolvedora</h5>
                        <p *ngIf="jogo.desenvolvedora" class="singleline-truncate">{{jogo.desenvolvedora.nome}}</p>
                    </div>

                    <div class="jogo__nota" [ngStyle]="{'--color': jogo.nota < notaPositive ? 'var(--error)': 'var(--success)'}" title="Avaliações: {{jogo.nota / 2}}/5">
                        <h5>Avaliações</h5>
                        <div class="stars">
                            <span *ngFor="let star of [].constructor(5); index as i" 
                            class="material-symbols-rounded" 
                            [ngClass]="{'icon--filled': isFilled(i + 1, jogo.nota / 2) }"
                            >
                            
                            {{ getStarIcon(i + 1, jogo.nota / 2)}}
                            </span>
                        </div>
                        <p>{{ jogo.nota / 2 }}</p> 
                    </div>
                </div>

                

            
                <div class="jogo__actions">
                    <p class="actions-title singleline-truncate" *ngIf="!jaPossuiJogo(jogo.id)" title="Comprar {{jogo.nome}}">Comprar {{jogo.nome}}</p>
                    <p class="actions-title actions-title-possui" *ngIf="jaPossuiJogo(jogo.id)">Já possui <span class="material-symbols-rounded icon--filled-bolder">check_circle</span></p>
                    <p class="actions-preco">
                        <span *ngIf="jogo.preco === 0">Gratuito</span>
                        <span *ngIf="jogo.preco != 0">{{jogo.preco | currency: 'BRL'}}</span>
                    </p>
                    <div class="actions-btns">
                        <button class="btn btn-desejo">
                            <span class="material-symbols-rounded">favorite</span>
                            DESEJO
                        </button>
                        <button class="btn btn-carrinho" (click)="addToCart(jogo)" *ngIf="!jaPossuiJogo(jogo.id)">
                            <span class="material-symbols-rounded">shopping_cart</span>
                            <p>{{noCarrinho(jogo.id) ? 'NO CARRINHO': 'COMPRAR'}}</p>
                        </button>
                        <button class="btn btn-carrinho" *ngIf="jaPossuiJogo(jogo.id)">
                            <span class="material-symbols-rounded">bookmark</span>
                            NA BIBLIOTECA
                        </button>
                    </div>
                </div>
            </div>
        </div>

        

        <div class="jogo__secundario">
            <div class="jogo__secundario-section-1">
                
    
                <article id="descricao" class="jogo__descricao">
                    <h4>Sobre o jogo</h4>
                    <p>{{jogo.descricao}}</p>
                </article>
                
                <div class="jogo__requisitos" >
                    <h4>Requisitos</h4>
                    <p *ngIf="jogo.requisitos && !jogo.requisitos.length">Não há nada por aqui.</p>
                    <div class="requisito" *ngFor="let requisito of jogo.requisitos">
                        <h5>{{ getRequisitoNome(requisito) }}</h5>
                        <p *ngIf="requisito.observacoes"><span>Observações: </span>{{requisito.observacoes}}</p>
                        <p><span>OS: </span>{{requisito.sistema}}</p>
                        <p><span>Processador: </span>{{requisito.processador}}</p>
                        <p><span>Memória: </span>{{requisito.memoria}}</p>
                        <p><span>Placa de Vídeo: </span>{{requisito.placaDeVideo}}</p>
                        <p><span>Armazenamento: </span>{{requisito.armazenamento}}</p>
                    </div>
                </div>
            </div>
           
            <div class="jogo__secundario-section-2 border-subtle box-shadow-primary">
                <div class="jogo__tags">
                    <h4>Categorias</h4>
                    <div class="tags-wrapper">
                        <p class="tags" *ngFor="let categoria of jogo.categorias">{{categoria.nome}}</p>
                    </div>
                </div>
                <div class="jogo__tags">
                    <h4>Todas plataformas</h4>
                    <div class="tags-wrapper">
                        <p class="tags" *ngFor="let plataforma of jogo.plataformas">{{plataforma.nome}}</p>
                    </div>
                </div>
                <div class="jogo__tags">
                    <h4>Modos de jogo</h4>
                    <div class="tags-wrapper">
                        <p class="tags" *ngFor="let modo of jogo.modos">{{modo.nome}}</p>
                    </div>
                </div>
                <div class="jogo__detalhes">
                    <h4>Mais detalhes</h4>
                    <div class="jogo__lancamento">
                        <h5>Lançamento</h5>
                        <p>{{jogo.dataLancamento | date: 'longDate': 'pt_br'}}.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
