.container {
    margin: 2rem auto;
    width: min(100% - 3rem, var(--container-max-size));
    display: grid;
    gap: 1rem;
}

.title {
    font-size: var(--font-titles);
    font-weight: 800;
    display: flex;
    align-items: center;
    gap: 1rem;

    > span {
        font-size: 1.5rem;
        color: var(--primary);
    }
}

.perfil {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 5rem;
}

.perfil__menu {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.perfil__menu-options {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}


.perfil__btn-menu-option {
    display: flex;
    align-items: center;
    gap: 1rem;
    border: none;
    padding: .5rem;
    border-radius: .5rem;
    font-family: inherit;
    background-color: transparent;
    transition: background-color 100ms ease;
}

.perfil__btn-menu-option > span {
    color: var(--primary);
    font-size: var(--font-subtitles);
}

.perfil__btn-menu-option:hover {
    cursor: pointer;
    color: var(--primary);
    background-color: rgba(var(--primary-number), .2);
}

.perfil__btn-menu-option:active {
    background-color: rgba(var(--primary-number), .1);
}

.btn-menu-option--selected {
    color: var(--primary);
    background-color: rgba(var(--primary-number), .2);
}

.perfil__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}   

.form__title {
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: rgba(var(--primary-number), .2);
    padding: 1rem;
    border-radius: .5rem;
}

.form__title > p {
    font-size: var(--font-subtitles);
}

.form__title > span {
    color: var(--primary);
}



.inputs {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    gap: 1rem;
}

.inputs--password {
    grid-template-columns: auto;
}


.input-group {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    font-size: var(--font-normal);
}

.input-group > input {
    padding: 1rem;
    border: 1px solid var(--subtle-border-color);
    background-color: transparent;
    border-radius: .5rem;
    font-family: inherit;
    transition: outline 50ms ease;
}

.input-group > input:focus {
    outline: 2px solid var(--primary);
}

.btn-submit {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    gap: .5rem;
    font-family: inherit;
    padding: .5rem;
    border: none;
    border-radius: .5rem;
    background-color: rgba(var(--success), .2);
    color: rgb(var(--success));
}

.btn-submit > span {
    font-size: var(--font-subtitles);
}

.btn-submit:hover {
    cursor: pointer;
    background-color: rgba(var(--success), .3);
}

.btn-submit:active {
    background-color: rgba(var(--success), .2);
}







