<div class="pedidos">
    <div class="pedido">
        <div class="pedido__codigo">
            <div class="skeleton codigo skeleton--text animation"></div>
            <div class="skeleton actions skeleton--text animation-delay"></div>
        </div>
        <div class="pedido__jogo">
            <div class="skeleton img animation"></div>
            <div class="skeleton nome skeleton--text animation-delay-middle"></div>
            <div class="skeleton preco skeleton--text animation-delay"></div>
            
        </div>
        <div class="pedido__detalhes">
            <div class="datas">
                <div class="skeleton data skeleton--text animation"></div>
                <div class="skeleton data skeleton--text animation-delay-middle"></div>
            </div>
            <div class="skeleton total skeleton--text animation-delay"></div>
        </div>
    </div>
    <div class="pedido">
        <div class="pedido__codigo">
            <div class="skeleton codigo skeleton--text animation"></div>
            <div class="skeleton actions skeleton--text animation-delay"></div>
        </div>
        <div class="pedido__jogo">
            <div class="skeleton img animation"></div>
            <div class="skeleton nome skeleton--text animation-delay-middle"></div>
            <div class="skeleton preco skeleton--text animation-delay"></div>
            
        </div>
        <div class="pedido__detalhes">
            <div class="datas">
                <div class="skeleton data skeleton--text animation"></div>
                <div class="skeleton data skeleton--text animation-delay-middle"></div>
            </div>
            <div class="skeleton total skeleton--text animation-delay"></div>
        </div>
    </div>
    
</div>
