<div class="container">
    <div class="title">
        <span class="material-symbols-rounded icon--filled">groups</span>
        <p>Todos os usuários</p>
    </div>

    <div class="actions">
        <div class="search-wrapper">
            <span class="material-symbols-rounded">search</span>
            <input type="text" placeholder="Buscar usuários..." [(ngModel)]="searchTerm">
        </div>
        <button class="btn-adicionar">
            <span class="material-symbols-rounded">add</span>
            <p>Adicionar usuário</p>
        </button>

    </div>

    <ng-container *ngIf="usuarios$ | async as usuarios">
        <table>
            <tr>
                <th><p class="table__titles">#</p></th>
                <th><p class="table__titles">NOME</p></th>
                <th><p class="table__titles">USERNAME</p></th>
                <th><p class="table__titles">E-MAIL</p></th>
                <th><p class="table__titles">CADASTRO</p></th>
                <th><p class="table__titles">TIPO</p></th>
            </tr>
            <tr *ngFor="let usuario of usuarios | filter: searchTerm">
                <td class="td-first">
                    <div class="usuario__id-avatar">
                        <p style="color: var(--primary);">{{usuario.id}}</p>
                        <div class="usuario__avatar">
                            <img src="{{usuario.avatarUrl}}" alt="avatar">
                        </div>
                    </div>
                </td>
                <td>
                    <p class="info">{{usuario.nome ?? '---'}}</p>
                </td>
                <td>
                    <p class="info">{{usuario.username}}</p>
                </td>
                <td>
                    <p class="info">{{usuario.email}}</p>
                </td>
                <td>
                    <p class="info">{{usuario.dataCadastro | date: 'dd/MM/yyyy'}}</p>
                </td>
                <td>
                    <div class="usuario__tipo {{isAdmin(usuario.tipo) ? 'usuario__tipo--admin': 'usuario__tipo--user'}}">
                        <p class="info">{{usuario.tipo}}</p>
                    </div>
                </td>
                <td class="td-last">
                    <div class="usuario-actions">
                        <button id="btn-detalhes" class="btn-usuarios btn-detalhes" *ngIf="!isUsuarioLogado(usuario.id)" (click)="openActions(usuario.id)">
                            <span id="btn-detalhes" class="material-symbols-rounded icon--filled">more_horiz</span>
                        </button>

                        <div class="actions-dropdown" *ngIf="showFilter(usuario.id)" @fromTopToTop>
                            <button class="btn-action btn-action--success" *ngIf="!isAdmin(usuario.tipo)" (click)="tornarAdmin(usuario)">
                                <span class="material-symbols-rounded icon--filled success">arrow_upward</span>
                                <p>Tornar admin</p>
                            </button>
                            <button class="btn-action btn-action--danger" *ngIf="isAdmin(usuario.tipo)" (click)="revogarAdmin(usuario)">
                                <span class="material-symbols-rounded icon--filled error">arrow_downward</span>
                                <p>Remover admin</p>
                            </button>
                            <button class="btn-action btn-action--delete" (click)="removerUsuario(usuario) ">
                                <span class="material-symbols-rounded icon--filled">delete</span>
                                <p>Remover</p>
                            </button>
                            
                        </div>
                    </div>

                    <div class="usuario-actions--responsive" *ngIf="!isUsuarioLogado(usuario.id)">
                        <button class="btn-action btn-action--success btn-action--responsive" *ngIf="!isAdmin(usuario.tipo)" (click)="tornarAdmin(usuario)">
                            <span class="material-symbols-rounded icon--filled success">arrow_upward</span>
                        <p>Tornar admin</p>
                        </button>
                        <button class="btn-action btn-action--danger btn-action--responsive" *ngIf="isAdmin(usuario.tipo)" (click)="revogarAdmin(usuario)">
                            <span class="material-symbols-rounded icon--filled error">arrow_downward</span>
                            <p>Remover admin</p>
                        </button>
                        <button class="btn-action btn-action--delete btn-action--responsive" (click)="removerUsuario(usuario)">
                            <span class="material-symbols-rounded icon--filled">delete</span>
                            <p>Remover</p>
                        </button>
                    </div>
                </td>
            </tr>
        </table>
        
    </ng-container>
    
    
    <ng-template #modalTemplate>
    </ng-template>
</div>