.container {
    width: min(100% - 3rem, var(--container-max-size));
    margin: 2rem auto;
    display: grid;
    gap: 1rem;
    grid-template-columns: auto;
}

.header {
    display: grid;
    gap: 2rem;
    place-items: center;
}

.header__title {
    font-size: var(--font-titles);
    font-weight: bold;
}

.header__search-input {
    width: 100%;
    font-family: var(--font-family);
    font-size: var(--font-subtitles);
    padding: 1.25rem;
    background-color: black;
    transition: outline 75ms ease;      
}

.header__search-input:focus {
    outline: 3px solid var(--primary);
}





