<div class="container">
    <section class="header">
        <p class="header__title">Buscar Jogos 🔍</p>
        <form method="get" (submit)="handleSearch()">
            <input class="header__search-input box-shadow-primary border-subtle" type="text" placeholder="Busque por algo..." [formControl]="search">
        </form>
    </section>

    <section class="filters">
        <div  class="filter" id="filter" *ngFor="let filter of filters; index as i">
            <button class="filter__btn" (click)="handleFilterClick(i)" [ngClass]="{'filter__btn--opened': filter.show}">
                <p class="filter__title">{{filter.nome}}</p>
                <span class="material-symbols-rounded icon--bolder" [ngClass]="{'icon-opened': filter.show}">expand_more</span>
            </button>
            <div class="filter__dropdown" *ngIf="filter.show" @fadeIn>
                <button id="filter__option" class="filter__option" *ngFor="let option of filter.options; index as i" (click)="handleFilterItemClick(option, filter.tipo)">
                    {{option.nome}}
                </button>
            </div>
        </div>
    </section>

    <section class="active-filters" *ngIf="filterTags.length">
        <p>Filtros: </p>
        <div class="active-filter" *ngFor="let aFilter of filterTags; index as i">
            <p>{{aFilter.nome}}</p> 
            <button class="filter-remove-btn" (click)="removeFilter(i)">
                <span class="material-symbols-rounded icon--bolder">close</span>
            </button>
        </div>
    </section>
    <p class="total-resultados"><span>Resultados:</span> {{getTotalElements()}}</p>
    <section class="jogos" *ngIf="pageableJogos">
        <div  class="jogo box-shadow-primary" *ngFor="let jogo of jogos; index as i" @fadeIn>
            <a class="jogo__link" routerLink="/jogos/{{jogo.uriNome}}">
                <img class="jogo__img " src="{{jogo.urlImagem}}" alt="{{jogo.nome}} - cover img">
            </a>
            <div class="jogo__detalhes">
                <div class="jogo__categorias">
                    <p class="categoria" *ngFor="let categoria of jogo.categorias">{{categoria.nome}},</p>
                </div>
                <p class="singleline-truncate jogo__nome">{{jogo.nome}}</p>
                <p class="jogo__preco">
                    {{ jogo.preco === 0 ? 'Gratuito' : jogo.preco | currency: 'BRL' }}
                </p>
                <div class="jogo__actions">
                    <button class="btn btn-desejo">
                        <span class="material-symbols-rounded">favorite</span>
                    </button>
                    <button class="btn btn-carrinho">
                        <span class="material-symbols-rounded">shopping_cart</span>
                        Carrinho
                    </button>
                </div>
            </div>
        </div>
    </section>
    

    <section class="page-actions" >

        <button class="btn-arrow prev" 
            (click)="prevPage()"
            [disabled]="!hasPrevPage()"
            [ngClass]="{'btn-arrow--disabled': !hasPrevPage()}"
        >
            <span class="material-symbols-rounded icon--bolder">arrow_back_ios_new</span>
        </button>
        <div class="pages">
            <button class="btn-page" 
                (click)="goToPage(i)"
                *ngFor="let page of [].constructor(getTotalPages()); index as i"
                [ngClass]="{'btn-page--current': i === getCurrentPage()}"
            >
                {{i}}
            </button>
        </div>
        <button class="btn-arrow next"
            (click)="nextPage()"
            [disabled]="!hasNextPage()"
            [ngClass]="{'btn-arrow--disabled': !hasNextPage()}"
        >
            <span class="material-symbols-rounded icon--bolder">arrow_forward_ios</span>
        </button>
    </section>
    
</div>
