<div class="container" (click)="handleOutsideClick($event)">
    <section class="header">
        <p class="header__title">🔍 Buscar Jogos</p>
        <input class="header__search-input box-shadow-primary border-subtle" type="text" placeholder="Busque por algo..." [(ngModel)]="search">
    </section>

    <app-filter [closeAll]="closeFilters"></app-filter>

    <section class="jogos">
        <div class="jogo" *ngFor="let jogo of jogos | filter: search; index as i">
            {{jogo.nome}}
        </div>
    </section>

    <section class="page-actions">
        <button class="prev arrow">
            <span class="material-symbols-rounded">arrow_back_ios_new</span>
        </button>
        <div class="pages">
            1 . 2 . 3
        </div>
        <button class="prev arrow">
            <span class="material-symbols-rounded">arrow_forward_ios</span>
        </button>
    </section>
</div>
