.container {
    gap: 1rem;
    display: grid;
    place-items: center;
    margin-bottom: 3rem;
    grid-template-columns: 1fr;
}

.carousel {
    display: flex;
    max-width: 55rem;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-stop: always;
    scroll-snap-type: x mandatory;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.carousel__jogo {
    min-width: 100%;
    overflow: hidden;
    position: relative;
    scroll-snap-align: start;

}

.carousel__jogo__img {
    width: 100%;
    display: block;
    transition: 75ms ease-in-out;
}

.carousel__jogo__img:hover {
    cursor: pointer;
}

.carousel__jogo__img:active {
    scale: 1.05;
    transition: 75ms ease-in-out;
}

.info-wrapper {
    left: 0;
    bottom: 0;
    padding: .5rem;
    position: absolute;
}

.carousel__jogo__info {
    gap: 1px;
    display: flex;
    box-shadow: var(--box-shadow-primary);
    border: 1px solid var(--subtle-border-color);
    background-color: var(--subtle-border-color);
}

.carousel__jogo__info > p {
    color: white;
    padding: .25rem .5rem;
    background-color: black;
}

.jogo__info__preco {
    color: var(--primary) !important;
}

.jogo__info__btn-fav {
    border: none;
    display: grid;
    place-items: center;
    background-color: black;
}

.jogo__info__btn-fav > span {
    cursor: pointer;
    color: var(--primary);
    font-size: 1.5em;
}

.jogo__info__btn-fav:hover > span {
    font-variation-settings:
    'FILL' 1; 
}

.carousel__jumpers {
    display: flex;
    gap: .5rem;
}

.carousel__jumpers > .jumper {
   width: .75rem;
   height: .75rem;
   border-radius: 50%;
   transition: 75ms ease-in-out;
   background-color: var(--primary-500);

}

.jumper--current {
    transition: 75ms ease-in-out;
    background-color: var(--primary) !important;
}