.container {
    margin: 2rem auto;
    width: min(100% - 2rem, var(--container-max-size));
    display: grid;
    gap: 1rem;
}

.title {
    font-size: var(--font-titles);
    font-weight: 800;
    display: flex;
    align-items: center;
    gap: 1rem;

    > span {
        font-size: 1.5rem;
        color: var(--primary);
    }
}

.jogos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(13rem, 1fr));
    gap: 1rem;
}

.jogo {
    display: grid;
    background-color: black;
    border-radius: .5rem;
}

.jogo__wrapper {
    display: grid;
    position: relative;
    padding: 1rem;
}

.info-wrapper {
    display: grid;
    width: 100%;
    z-index: 1;
    height: 100%;
    position: absolute;
    border-radius: .5rem;
    background-color: rgba(0, 0, 0, .6);
    opacity: 0;
    transition: opacity 150ms ease;
}



.jogo__img {
    display: block;
    border-radius: .25rem;
    width: 100%;
}

.btn-show-key {
    position: absolute;
    place-self: center;
    z-index: 2;
    border: none;
    display: grid;
    place-items: center;
    background-color: transparent;
    color: var(--primary);
    border-radius: 50%;
    padding: .45rem;
    transform: translateY(100%);
    opacity: 0;
    transition: 
        background-color 150ms ease,
        transform 300ms ease;
}

.btn-show-key > p {
    font-size: var(--font-subtitles);
}

.btn-show-key:hover {
    cursor: pointer;
    background-color: rgba(var(--primary-number), .2);
}

.jogo__wrapper:hover > .info-wrapper {
    opacity: 1;
}

.jogo__wrapper:hover > .info-wrapper > .btn-show-key {
    transform: translateY(0%);
    opacity: 1;
}


