.container {
    margin: 2rem auto;
    width: min(100% - 2rem, var(--container-max-size));
    display: grid;
    gap: 1rem;
}

.title {
    font-size: var(--font-titles);
    font-weight: 800;
    display: flex;
    align-items: center;
    gap: 1rem;

    > span {
        font-size: 1.5rem;
        color: var(--primary);
    }
}

.jogos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(13rem, 1fr));
    gap: 1rem;
}

.jogo {
    display: grid;
    background-color: black;
    border-radius: .5rem;
    border-top: 1px solid var(--subtle-border-color);
    box-shadow: var(--box-shadow-primary);
}

.jogo__wrapper {
    display: grid;
    position: relative;
    padding: 1rem;
}

.btn-show-compra-info {
    border: none;
    color: var(--primary);
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
    border-radius: .5rem;
    background-color: rgba(0, 0, 0, .6);
    transition: opacity 150ms ease;
    opacity: 0;
}

.jogo__img {
    display: block;
    width: 100%;
}

.btn-show-compra-info > span {
    position: absolute;
    place-self: center;
    z-index: 2;
    border: none;
    display: grid;
    place-items: center;
    background-color: rgba(var(--primary-number), .1);
    color: var(--primary);
    border-radius: 50%;
    padding: .45rem;
    transform: translateY(100%);
    opacity: 0;
    transition: all 300ms ease
        
}

.btn-show-compra-info:hover > span {
    transform: translateY(0%);
    opacity: 1;
}

.btn-show-compra-info > p {
    font-size: var(--font-subtitles);
}

.btn-show-compra-info:hover {
    cursor: pointer;
}

.jogo__wrapper:hover > .btn-show-compra-info {
    opacity: 1;
}

.jogo-info-wrapper {
    z-index: 99999;
    position: fixed;
    bottom: 7rem;
    width: 100%;
    display: grid;
    place-items: center;
}

.jogo-info {
    padding: 1rem;
    border-radius: .5rem;
    background-color: black;
    border-top: 1px solid var(--subtle-border-color);
    box-shadow: var(--box-shadow-primary);
    width: min(100%, 40rem);
}

.jogo-info-nome-close-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.jogo-info__nome {
    font-size: var(--font-titles);
    color: var(--primary);
}

.jogo-info__detalhes {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.btn-close-info {
    border: none;
    display: grid;
    place-items: center;
    padding: .5rem;
    border-radius: 50%;
    background-color: transparent;
    color: rgb(var(--error));
    transition: background-color 75ms ease;
}

.btn-close-info:hover {
    cursor: pointer;
    background-color: rgba(var(--error), .3);
}

.btn-close-info:active > span {
    font-variation-settings: 'FILL' 1;
}

.label {
    display: flex;
    align-items: center;
    gap: .5rem;
    margin-bottom: .5rem;

}

.label > span {
    color: rgba(var(--primary-number), .5);
    font-size: var(--font-subtitles);
    border-radius: 50%;
    padding: .25rem;
    background-color: rgba(var(--primary-number), .2);
}

.input-wrapper {
    border: 1px solid var(--subtle-border-color);
    display: flex;
    align-items: center;
    padding: .5rem;
    padding-inline-start: 1rem;
    gap: .5rem;
    border-radius: .5rem;
    width: min(100%, 18rem);
}

.input-wrapper > input {
    width: 100%;
    border: none;
    background-color: transparent;
}

.input-key--hidden {
    font-size: var(--font-subtitles);
}

.btn-key {
    border: none;
    color: var(--primary);
    background-color: rgba(var(--primary-number), .2);
    display: grid;
    place-items: center;
    padding: .35rem;
    border-radius: .35rem;
    transition: background-color 150ms ease;
}

.btn-key:hover {
    cursor: pointer;
    background-color: rgba(var(--primary-number), .3);
}

.btn-key:hover > span {
    font-variation-settings: 'FILL' 1;
}

.btn-key:active {
    background-color: rgba(var(--primary-number), .2);
}

.data-compra-actions-wrapper {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
}

.jogo-info__data-compra {
    font-size: var(--font-smaller);
    color: var(--secondary-text-dark);
}

.btn-avaliar {
    border: none;
    background-color: rgba(var(--primary-number), .2);
    padding: .5rem;
    border-radius: .5rem;
    display: flex;
    align-items: center;
    gap: .5rem;
    color: var(--primary);
    transition: background-color 150ms ease;
}

.btn-avaliar > span {
    position: relative;
    top: -1px;
    font-size: var(--font-subtitles);
}

.btn-avaliar:hover {
    cursor: pointer;
    background-color: rgba(var(--primary-number), .3);
}

.btn-avaliar:active {
    background-color: rgba(var(--primary-number), .2);
    transition: none;
}

.backdrop {
    z-index: 9999;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, .4);    
}

@media (width <= 600px) {
    .jogo-info-wrapper {
        bottom: 0;
    }

    .jogo-info {
        padding-bottom: 5rem;

    }
}


