<meta http-equiv="Permissions-Policy" content="ch-ua-form-factor=()">
<div class="container">
    
    <div class="btn-arrow prev" (click)="prev()">
        <span class="material-symbols-rounded">
            arrow_back_ios_new
        </span>
    </div>

    <div #carousel  
        class="carousel" 
        (window:resize)="setPositionAnimation(carousel.offsetWidth)" 
        [ngStyle]="{'--carousel-width': calculateCarouselWidth(carousel.offsetWidth) + 'px'}" 
        
        >
        <div class="hero" (mouseover)="pauseAutoSlide()" (mouseout)="playAutoSlide()" [ngStyle]="{ 'transform': 'translateX(' + positionX + 'px)' }" *ngFor="let jogo of jogos">
            <iframe class="video" width="100%" height="100%" [src]="jogo.urlVideo | safe" title="{{jogo.uriNome}} Trailer" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <div class="info">
                <img class="img" [src]="jogo.urlImagem | safe">
                <div class="padding-info">
                    <h3 class="singleline-truncate" title="{{jogo.nome}}">{{jogo.nome}}</h3>

                    <p class="multiline-truncate descricao">{{jogo.descricao}}</p>

                    <div class="desenvolvedora">
                        <p class="singleline-truncate"> 
                            <strong>Desenvolvedora: </strong><a href="#">{{jogo.desenvolvedora.nome}}</a> 
                        </p>
                    </div>

                    <div class="categorias">
                        <div class="categoria" *ngFor="let categoria of jogo.categorias">
                            {{categoria.nome}}
                        </div>
                    </div>
                    
                </div>
                <div class="preco-comprar">
                    <div class="preco">
                        <span *ngIf="jogo.preco == 0">Gratuito</span>
                        <span *ngIf="jogo.preco != 0">R$ {{ jogo.preco | number: '1.2-2':'pt-BR' }}</span>
                    </div>
                        
                    <button routerLink="/jogos/{{jogo.uriNome}}" class="btn-ver-mais">Ver mais <span class="material-symbols-rounded">arrow_forward_ios</span></button>
                </div>
            </div>
        </div>
    </div>

    <div class="btn-arrow next" (click)="next()">
        <span class="material-symbols-rounded">
            arrow_forward_ios
        </span>
    </div>

    

    <div class="jumpers">
        <div class="btn-arrow prev" (click)="prev()">
            <span class="material-symbols-rounded">
                arrow_back_ios_new
            </span>
        </div>
        <div class="jumper" 
            *ngFor="let jogo of jogos; let i = index" 
            [ngClass]="i === currentIndex ? 'selected' : ''"
            (click)="jumpTo(i)"
            >
        </div>
        <div class="btn-arrow next" (click)="next()">
            <span class="material-symbols-rounded">
                arrow_forward_ios
            </span>
        </div>
    </div>

</div>
