.container {
    display: grid;
    grid-template-columns: auto 3fr auto;
    place-items: center;
    gap: 1.5rem;
    max-width: 75rem;
    margin: 1rem auto;
}

.carousel {
    --carousel-width: 68rem;
    display: flex;
    width: 100%;
    max-width: var(--carousel-width);
    overflow: hidden;
    gap: 1rem;
}

.carousel__jogo {
    --content-border-radius: .5rem;
    min-width: 100%;
    display: grid;
    gap: 1rem;
    grid-template-columns: 2fr 1fr;
    transition: transform 500ms ease-in-out;
}

.carousel__jogo__video {
    min-width: none;
    border-radius: var(--content-border-radius);
    aspect-ratio: 16 / 9;
    background-color: white;
    width: 100%;
}

.carousel__jogo__card {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    min-width: 15rem;
}

.jogo__card__img {
    max-width: 100%;
    border-radius: var(--content-border-radius);
}

.jogo__card__info {
    padding-inline: .25rem;
}

.card__info__descricao {
    font-size: medium;
    line-height: 1.25em;
}

.jogo__card__preco {
    margin-top: auto;
    color: var(--green);
    font-size: large;
    margin-bottom: .25rem;
    padding-inline: .25rem;
}

.jogo__card__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    padding: .75rem;
    color: white;
    border: none;
    background-color: var(--roxo);
    border-radius: var(--content-border-radius);
    font-size: medium;
}

.jogo__card__btn > span {
    font-size: medium;
}

.carousel__arrow {
    display: grid;
    place-items: center;
    color: var(--roxo);
}

.carousel__arrow--mobile {
    display: none;
}

.carousel__arrow:hover {
    cursor: pointer;
    scale: 1.1;
}

.carousel__arrow:active {
    scale: 1;
    user-select: none;
}

.carousel__arrow > span {
    font-size: xx-large;
    font-weight: bolder;
}

.carousel__controls {
    grid-column: span 3;
}

.carousel__jumpers {
    display: flex;
    gap: 1rem;
}

.carousel__jumpers > .jumper {
    width: .75rem;
    height: .75rem;
    border-radius: 50%;
    box-shadow: 0 1px 15px 1px rgba(0, 0, 0, .3);
}

.jumper--current {
    scale: 1.2;
    background-color: var(--roxo);
    transition: all 250ms ease-in-out;
}

@media (width <= 75rem) {
    .container {
        margin-inline: .25rem;
    }

    .card__info__descricao {
        -webkit-line-clamp: 3;
    }
}

@media (width <= 65rem) {
    .container {
        grid-template-columns: auto;
    }

    .carousel__controls {
        grid-column: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;

    }

    .carousel__arrow {
        display: none;
    }

    .carousel__arrow--mobile {
        display: grid;
        place-items: center;
        
    }

    .carousel__arrow--mobile > span {
        font-size: x-large;
    }
    

}

@media (width <= 55rem) {
    .carousel__jogo {
        grid-template-columns: 1fr;
    }

    .jogo__card__img {
        display: none;
    }
}








