.container {
    display: grid;
    justify-content: center;
    grid-template-columns: auto;
    gap: 1rem;
}

.carousel {
    /* --carousel-width: 75rem; */
    display: flex;
    max-width: 1200px;
    overflow-x: hidden;
    gap: 16px;
    border-radius: .5rem;
    background-color: transparent;
    box-shadow: rgba(0, 0, 0, .5) 0px 1px 50px;    
}

.btn-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center; 
    border-radius: .5rem;
    transition: transform .2s ease-out;
    color: var(--roxo);
}

.btn-arrow span {
    font-size: xx-large;
    font-weight: bolder;
    text-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.btn-arrow:hover {
    scale: 1.2;
    cursor: pointer;
    opacity: 1;
}

.prev:hover {
    transform: translateX(-10%);
}

.next:hover {
    transform: translateX(10%);
}

.video {
    aspect-ratio: 16 / 9;
}

.hero {
    z-index: 99;
    display: grid;
    grid-template-columns: 2fr 1fr;
    border-radius: .5rem;
    overflow: hidden;
    min-width: 100%;
    max-width: var(--carousel-width);
    background-color: var(--bg-light);
    transition: transform .5s ease-in-out;
}

.info {
    display: flex;
    flex-direction: column;
    max-width: 25rem;
    overflow: hidden;
}

.info > .img {
    max-width: 100%;
    max-height: 12rem;
    transition: .2s ease-in-out;
}

.padding-info {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
    transition: .1s ease-in-out;
}

.padding-info > h3 {
    max-width: 100%;
}

.padding-info > .descricao {
    -webkit-line-clamp: 4;
}

.padding-info > p, a {
    font-size: small;
}

.desenvolvedora {
    max-width: 100%;
    font-size: small;
    display: flex;
}

.categorias-nota {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    font-size: small;
}

.categorias {
    display: flex;
    flex-direction: row;
    font-size: small;
    gap: 1rem;
}

.categoria {
    padding: .25rem .5rem;
    background-color: var(--roxo);
    color: white;
    border-radius: .25rem;
}

.preco-comprar {
    display: grid;
    align-items: center;
    grid-template-columns: auto 2fr;
    gap: 1rem;
    padding: 0 1rem 1rem 1rem;
    margin-top: auto;

}

.preco-comprar > .preco {
    padding: .5rem;
    background-color: var(--green);
    border-radius: .25rem;
    color: white;
    font-size: large;
}

.btn-ver-mais {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--roxo);
    padding: .6rem;
    border-radius: .25rem;
    font-size: medium;
}

.btn-ver-mais:hover {
    outline: 2px solid var(--roxo);
    cursor: pointer;
}

.btn-ver-mais > span {
    font-size: medium;
}

.btn-ver-mais:active {
    color: white;
    background-color: var(--roxo);
}

.jumpers {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    grid-column: span 3;
}

.jumper {
    height: .7rem;
    width: .7rem;
    background-color: white;
    border-radius: 50%;
    box-shadow: var(--box-shadow-light);
    transition: .2s;
}

.jumper:hover {
    cursor: pointer;
    scale: 1.5;
    transition: .1s;
}

.selected {
    transition: .1s;
    background-color: var(--roxo);
    scale: 1.5;
}

.selected:hover {
    background-color: var(--roxo);
}

.jumpers > .btn-arrow {
    display: none;
}

.jumpers > .btn-arrow > span {
    font-size: x-large;
}

@media (width <= 85rem) {
    .container {
        margin-inline: 1.5rem;
    }
}

@media(width <= 70rem) {
    .padding-info {
        padding-bottom: .5rem;
        gap: .5rem;
        transition: .1s ease-in-out;
    }

    .padding-info > .descricao {
        -webkit-line-clamp: 2;
    }

    .categorias {
        gap: .5rem;
        transition: .1s ease-in-out;
    }

}

@media (width <= 65rem) {
    .container {
        grid-template-columns: 1fr;
    }

    .hero {
        grid-template-columns: 1fr;
    }
    
    .info {
        max-width: none;
        display: grid;
        grid-template-columns: auto 1fr;
    }

    .info > .img {
        grid-row: span 2;
        max-height: 12rem;
    }

    .preco-comprar {
    }

    .padding-info {
    }

    .btn-arrow {
        display: none;
    }

    .jumpers {
        grid-column: span 1;
    }

    .jumpers > .btn-arrow {
        display: flex;
    }
}



@media (width <= 65rem) {
    .hero {
        grid-template-columns: 1fr;
    }
}

@media (width <= 60rem) {
    .info > .img, .padding-info > .desenvolvedora {
        display: none;
    }

    .info {
        grid-template-columns: 2fr 1fr;
    }

    .preco-comprar {
        padding: 1rem;
        grid-template-columns: 1fr;
    }

    .preco {
        max-width: max-content;
        place-self: end;
    }
}

@media (width <= 40rem) {
    .container {
        grid-template-columns: 1fr;
    }

    
}

