<meta http-equiv="Permissions-Policy" content="ch-ua-form-factor=()">
<div class="container">

    <div class="carousel__arrow carousel__arrow--prev" (click)="goToPrevious()">
        <span class="material-symbols-rounded">
            arrow_back_ios_new
        </span>
    </div>

    <div class="carousel" 
        #carousel 
        (window:resize)="updateCarouselWidth(carousel.offsetWidth)"  
        
        >
        <div *ngFor="let jogo of jogos; let i = index" class="carousel__jogo" [ngStyle]="{'transform': 'translateX(-' + positionX + 'px)'}">
            <iframe (load)="getInitialCarouselWidth(carousel.offsetWidth)" class="carousel__jogo__video" [src]="jogo.urlVideo | safe" title="{{jogo.nome}} - trailer video" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <div class="carousel__jogo__card">
                <img class="jogo__card__img" src="{{jogo.urlImagem}}" alt="{{jogo.nome}} - img">
                <div class="jogo__card__info">
                    <h3 class="card__info__nome singleline-truncate" title="{{jogo.nome}}">
                        {{jogo.nome}}
                    </h3>
                    <p class="card__info__descricao multiline-truncate">
                        {{jogo.descricao}}
                    </p>
                </div>
                <p class="jogo__card__preco">
                    <span *ngIf="jogo.preco == 0">Gratuito p/ Jogar</span>
                    <span *ngIf="jogo.preco != 0">R$ {{ jogo.preco | number: '1.2-2':'pt-BR' }}</span>
                </p>
                <button class="jogo__card__btn" routerLink="/jogos/{{jogo.uriNome}}">
                    Ver mais 
                    <span class="material-symbols-rounded">
                        arrow_forward_ios
                    </span>
                </button>
            </div>
        </div>
    </div>

    <div class="carousel__arrow carousel__arrow--next" (click)="goToNext()">
        <span class="material-symbols-rounded">
            arrow_forward_ios
        </span>
    </div>

    <div class="carousel__controls">
        <div class="carousel__arrow carousel__arrow--mobile" (click)="goToPrevious()">
            <span class="material-symbols-rounded">
                arrow_back_ios_new
            </span>
        </div>
        
        <div class="carousel__jumpers">
            <div class="jumper" *ngFor="let jogo of jogos; let i = index" [ngClass]="{'jumper--current': i === currentIndex}"></div>
        </div>
    
        <div class="carousel__arrow carousel__arrow--mobile" (click)="goToNext()">
            <span class="material-symbols-rounded">
                arrow_forward_ios
            </span>
        </div>
    </div>

</div>
