<div class="container">
    <div class="title">
        <span class="material-symbols-rounded icon--filled">joystick</span>
        <p>Todos os jogos</p>
    </div>

    <div class="actions">
        <div class="search-wrapper">
            <span class="material-symbols-rounded">search</span>
            <input type="text" placeholder="Buscar jogo...">
        </div>
        <button class="btn-adicionar">
            <span class="material-symbols-rounded">add</span>
            <p>Adicionar jogo</p>
        </button>
    </div>

    <ng-container *ngIf="pageableJogos$ | async as pageableJogos">
        <table>
            <tr>
                <th><p class="table__titles">#</p></th>
                <th><p class="table__titles">NOME</p></th>
                <th><p class="table__titles">DESENVOLVEDORA</p></th>
                <th><p class="table__titles">PREÇO</p></th>
                <th><p class="table__titles">NOTA</p></th>
            </tr>
    
            <tr *ngFor="let jogo of pageableJogos.content">
                <td class="td-first">
                    <p class="info">{{jogo.id}}</p>
                </td>
                <td>
                    <p class="info">{{jogo.nome}}</p>
                </td>
                <td>
                    <p class="info">{{jogo.desenvolvedora?.nome}}</p>
                </td>
                <td>
                    <p class="info">{{jogo.preco | currency: 'BRL'}}</p>
                </td>
                <td>
                    <p class="info">{{jogo.nota}}</p>
                </td>
                
                <td class="td-last">
                    <div class="jogos-actions">
                        <button id="btn-detalhes" class="btn-usuarios btn-detalhes" (click)="openActions(jogo.id)">
                            <span id="btn-detalhes" class="material-symbols-rounded icon--filled">more_horiz</span>
                        </button>

                        <div class="actions-dropdown" *ngIf="showFilter(jogo.id)" @fromTopToTop>
                            <button class="btn-action btn-action--success">
                                <span class="material-symbols-rounded icon--filled success">edit</span>
                                <p>Editar</p>
                            </button>
                            
                            <button class="btn-action btn-action--delete" >
                                <span class="material-symbols-rounded icon--filled">delete</span>
                                <p>Remover</p>
                            </button>
                            
                        </div>
                    </div>

                    <div class="usuario-actions--responsive">
                        <button class="btn-action btn-action--success btn-action--responsive"  >
                            <span class="material-symbols-rounded icon--filled success">edit</span>
                        <p>Editar</p>
                        </button>
                        
                        <button class="btn-action btn-action--delete btn-action--responsive" >
                            <span class="material-symbols-rounded icon--filled">delete</span>
                            <p>Remover</p>
                        </button>
                    </div>
                </td>
                
            </tr>
    
        </table>        
    </ng-container>
</div>


