.filters {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    margin-inline: auto;
    gap: 1rem;
    font-size: var(--font-subtitles);
    transition: all 350ms ease;
    border-bottom: 1px solid var(--subtle-border-color);
    padding-bottom: 1rem;
}




.filter {
    --clr-hover: rgba(var(--primary-number), .2);
    color: var(--primary);
    position: relative;
    width: 100%;
}

.filter__btn {
    width: 100%;
    padding: 1rem;
    font-size: inherit;
    font-family: inherit;
    color: inherit;
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: .5rem;
    background-color: rgba(var(--primary-number), .1);

}

.filter__btn span {
    transition: transform 150ms ease;
}

.filter__btn--opened {
    border-radius: .5rem .5rem 0 0;
    background-color: var(--clr-hover);
}

.icon-opened {
    transform: rotate(180deg);
}

.filter__btn:hover {
    background-color: var(--clr-hover);
    cursor: pointer;
}

.filter__dropdown::before {
    content: '';
    position: absolute;
    top: -.5rem;
    left: 1rem;
    width: 1rem;
    height: 1rem;
    display: grid;
    background-color: black;
    transform: rotate(45deg);
    border-radius: .125rem 0 0 0;
}

.filter__dropdown {
    position: absolute;
    width: 100%;
    background-color: black;
    display: grid;
    place-self: center;
    padding: 1rem;
    gap: .25rem;
    border-radius: 0 0 .5rem .5rem;
    z-index: 99;
}

.filter__option {
    border: none;
    font-size: inherit;
    font-family: inherit;
    text-align: start;
    color: var(--accent);
    background-color: transparent;
    transition: color 75ms ease;
}

.filter__option:last-child {
    border-radius: 0 0 .5rem .5rem ;
}

.filter__option:hover {
    cursor: pointer;    
    color: var(--primary);
}


