<div class="modal" @fadeIn>
    <div class="title"> {{ title }} </div>
    <div class="content">
        <ng-content></ng-content>
    </div>
    <div class="actions" *ngIf="actions">
        <button class="btn-action btn-cancel" title="Cancelar" (click)="close()">
            <span class="material-symbols-rounded icon--filled" >cancel</span>
            <p>Cancelar</p>
        </button>
        <button class="btn-action btn-confirm" title="Confirmar" (click)="submit()">
            <span class="material-symbols-rounded icon--filled" >check_circle</span>
            <p>Confirmar</p>
        </button>
    </div>
</div>

<div class="modal-backdrop" (click)="close()"></div>


