.container {
    margin: 2rem auto;
    width: min(100% - 3rem, var(--container-max-size));
    display: grid;
    gap: 1rem;
}

.title {
    font-size: var(--font-titles);
    font-weight: 800;
    display: flex;
    align-items: center;
    gap: 1rem;

    > span {
        font-size: 1.5rem;
        color: var(--primary);
    }
}

.wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
}

.content-title {
    font-size: var(--font-subtitles);
    padding: .5rem 1rem;
    border-bottom: 1px solid var(--subtle-border-color);
}

.pedido-total {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1rem;
}

.total-title {
    font-size: var(--font-subtitles);
}

.total {
    color: var(--primary);
}

.formas-pagamento-wrapper,
.jogos {
    display: flex;
    flex-direction: column;
    background-color: black;
    border-radius: .5rem;
    height: max-content;
}

.jogo {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem;
    gap: 1rem;

    &:hover .btn-jogo-remover {
        transform: translateX(0%);
    }
}



.jogo:not(:last-child) {
    border-bottom: 1px solid var(--subtle-border-color);
}

.jogo__info {
    margin-right: auto;

}

.jogo__nome {
    font-size: var(--font-subtitles);
}

.jogo__preco {
    color: var(--primary);
}

.jogo__img-wrapper {
    max-width: 8rem;
}

.jogo__img-wrapper img {
    display: block;
    width: 100%;
    border: 1px solid var(--subtle-border-color);
    box-shadow: var(--box-shadow-primary);
    border-radius: .25rem;
}

.jogo__actions {
    position: relative;
    display: grid;
    min-width: 7rem;
    min-height: 3rem;
    overflow: hidden;
}

.btn-jogo-remover {
    position: absolute;
    display: flex;
    place-self: center;
    transform: translateX(100%);
    align-items: center;
    gap: .25rem;
    border: none;
    background-color: transparent;
    color: rgb(var(--error));
    padding: .5rem;
    border-radius: .25rem;
    transition: transform 150ms ease;

    &:hover {
        background-color: rgba(var(--error), .3);
        cursor: pointer;
        
    }
}

.formas-pagamento-wrapper {
    max-height: min-content;
}

.formas-pagamento {
    height: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.form-group {
    border: 1px solid var(--subtle-border-color);
    gap: .5rem;
    padding: .5rem;
    border-radius: .5rem;

}

.form-group input {
    margin-right: .5rem;
}

.form-group label {
    user-select: none;


}

.form-group--selected {
    border: 1px solid var(--primary);

}

.btn-submit {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .25rem;
    margin-top: 1rem;
    padding: .5rem;
    font-size: inherit;
    font-family: inherit;
    border: none;
    border-radius: .5rem;
    background-color: rgba(var(--primary-number), .4);
    > span {
        color: rgba(var(--primary-number), 1);
        font-size: var(--font-subtitles);
        transition: color 75ms ease;
    }

    &:hover {
        background-color: rgba(var(--primary-number), .5);
        cursor: pointer;
    }

    &:active {
        background-color: rgba(var(--primary-number), .4);
    }
}

.btn-submit--disabled {
    background-color: rgba(var(--primary-number), .1);

    > span {
        color: rgba(var(--primary-number), .1);
    }

    &:hover {
        cursor: default;
        background-color: rgba(var(--primary-number), .1);
    }
}

@media (width <= 768px) {
    .wrapper {
        grid-template-columns: 1fr;
    }

    .jogo__actions {
        margin-left: auto;
    }

    .btn-jogo-remover {
        transform: translateX(0%);
    }
}

@media (width <= 425px) {
    .jogo {
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .jogo__img-wrapper {
        max-width: 100%;
    }

    .jogo__info {
        margin-right: 0;
    }

    .jogo__actions {
        margin-left: 0;
        align-self: center;
    }

}




