<meta http-equiv="Permissions-Policy" content="ch-ua-form-factor=()">
<div class="container">

    <div class="carousel__arrow carousel__arrow--prev" (click)="goToPrevious()">
        <span class="material-symbols-rounded">
            arrow_back_ios_new
        </span>
    </div>

    <div class="carousel" #carousel>
        <div class="carousel__jogos" *ngFor="let group of jogosGroup; let i = index" [ngClass]="{'carousel__jogos--current': i === currentIndex}">
            <div *ngFor="let jogo of group" class="carousel__jogo" (mouseover)="pauseAutoSlide()" (mouseout)="playAutoSlide()">
                <a routerLink="/jogos/{{jogo.uriNome}}">
                    <img class="carousel__jogo__img" src="{{jogo.urlImagem}}" alt="{{jogo.nome}} - img">    
                </a>
                <div class="info-wrapper">
                    <div class="carousel__jogo__info">
                        <p class="jogo__info__preco">
                            <span *ngIf="jogo.preco == 0">Gratuito</span>
                            <span *ngIf="jogo.preco != 0">R$ {{ jogo.preco | number: '1.2-2':'pt-BR' }}</span>
                        </p>
                        <p class="jogo__info__nota">⭐ {{jogo.nota}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="carousel__arrow carousel__arrow--next" (click)="goToNext()">
        <span class="material-symbols-rounded">
            arrow_forward_ios
        </span>
    </div>

    <div class="carousel__controls">
        <div class="carousel__arrow carousel__arrow--mobile" (click)="goToPrevious()">
            <span class="material-symbols-rounded">
                arrow_back_ios_new
            </span>
        </div>
        
        <div class="carousel__jumpers carousel__jumpers--max-size">
            <div class="jumper" *ngFor="let group of jogosGroup; let i = index" [ngClass]="{'jumper--current': i === currentIndex}" (click)="goToIndex(i)"></div>
        </div>
    
        <div class="carousel__arrow carousel__arrow--mobile" (click)="goToNext()">
            <span class="material-symbols-rounded">
                arrow_forward_ios
            </span>
        </div>
    </div>

</div>
