:root {
    --roxo: #533566;
    --green: #50A060;
    --red: crimson;
    --links-active-green: #2e5f38;

    --bg-dark: rgb(48, 48, 48);
    --bg-light: whitesmoke;

    --accent-dark: rgb(0, 0, 0, .2);
    --accent-light: white;

    --box-shadow-header-dark: rgba(0, 0, 0, .5) 0px 1px 15px;
    --box-shadow-header-light: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    --box-shadow-dark: rgba(0, 0, 0, .5) 0px 1px 4px;
    --box-shadow-light: rgba(0, 0, 0, .13) 0px 1px 4px;
}

html,
body {
    background-color: var(--bg-dark);
    color-scheme: dark;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

p, h1, h2, h3, h4, h5 {
    margin: 0;
    background-color: transparent;
}

.btn {
    padding: 1rem;
    background-color: transparent;
    border-radius: .4rem;
    border: none;
    font-size: medium;
}

.btn:hover {
    cursor: pointer;
}

.multiline-truncate {
    width:100%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    font-size: small;
  
}

.singleline-truncate {
    white-space: nowrap;
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
}

a {
    text-decoration: none;
}

.spacer-vertical {
    font-size: large;
}

@media (width <= 64rem)  {
    .container {
        margin: 2rem;
    }
}


