.container {
    gap: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.buscar {
    display: flex;
    min-width: 100%;
    align-items: center;
    justify-content: center;
}

.buscar > input {
    max-width: var(--secondary-content-width);
    width: 100%;
    padding: 1rem;
    border-radius: .2rem;
    border: 1px solid black;
    background-color: transparent;
}

.jogos-lista {
    max-width: var(--secondary-content-width);
    gap: 1.5rem;
    display: grid;
    margin-bottom: 2rem;
    border-radius: .5rem;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
}

.jogo-card {
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: .5rem;
}


.jogo-card:hover {
    cursor: pointer;
    transition: 50ms ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}


.jogo-img {
    background-color: grey;
    border-radius: .5rem .5rem 0 0;
}

.jogo-info {
    display: flex;
    padding: .75rem;
    flex-direction: column;
    background-color: white;
    border-radius: 0 0 .5rem .5rem;
}

.jogo-info > p {
    margin: 0;
    padding: 0;
    display: block;
    overflow: hidden;
    font-weight: 600;
    white-space: nowrap;
    text-overflow: ellipsis;
    background-color: transparent;
}

.preco-nota {
    gap: .5rem;
    display: flex;
    padding: .4rem 0rem;
    align-items: center;
    background-color: transparent;
    justify-content: space-between;
}

.jogo-preco {
    max-width: 70%;
    font-size: medium;
    margin-right: auto;
    color: var(--green);
}


.jogo-nota {
    width: 3rem;
    display: flex;
    height: 1.5rem;
    font-size: small;
    align-items: center;
    padding-bottom: .1rem;
    border-radius: .25rem;
    justify-content: center;
}

.jogo-btn {
    padding: .5rem;
    font-size: small;
    border-radius: .25rem;
    border: 1px solid var(--green);
}

.jogo-btn:hover {
    cursor: pointer;
    color: var(--green);
    border-color: var(--green);
}

.jogo-btn:active {
    color: white;
    background-color: var(--green);
}

@media (width <= 70rem)  {
    .container {
        margin-inline: 1.5rem;
    }

    .jogos-lista {
        width: 100%;
    }
}








