
<app-slider-mobile class="slider-mobile"></app-slider-mobile>
<app-slider-desktop class="slider-desktop"></app-slider-desktop>
<div class="container">
    <h1>Catálogo</h1>

    <div class="buscar">
        <input type="search" placeholder="🔍 Buscar">
    </div>
    
    <div class="jogos-lista">
        <a routerLink="/jogos/{{jogo.uriNome}}" *ngFor="let jogo of jogos" class="jogo-card">
            <img class="jogo-img" [src]="jogo.urlImagem | safe">
            <div class="jogo-info">
                <p class="paragrafo-truncate" title="{{jogo.nome}}">{{jogo.nome}}</p>
                <div class="preco-nota">
                    <div class="jogo-preco">
                        <p class="singleline-truncate">{{(jogo.preco == 0) ? 'Gratuito p/ jogar': 'R$ '+ jogo.preco}}</p>
                    </div>
                    <div class="jogo-nota" title="Avaliações: {{jogo.nota}}/10">
                        <p>⭐ {{jogo.nota}}</p>
                    </div>
                </div>
                <button class="btn jogo-btn">+ Carrinho 🛒</button>
            </div>
        </a>
    </div>
</div>


