.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.buscar {
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buscar > input {
    max-width: var(--secondary-content-width);
    background-color: transparent;
    border: 1px solid black;
    padding: 1rem;
    border-radius: .2rem;
    width: 100%;
}

.jogos-lista {
    max-width: var(--secondary-content-width);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    gap: 1.5rem;
    border-radius: .5rem;
    margin-bottom: 2rem;
}

.jogo-card {
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: .5rem;
}


.jogo-card:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    cursor: pointer;
    transition: 50ms ease-in-out;
}


.jogo-img {
    background-color: grey;
    border-radius: .5rem .5rem 0 0;
}

.jogo-info {
    display: flex;
    flex-direction: column;
    padding: .75rem;
    background-color: white;
    border-radius: 0 0 .5rem .5rem;
}

.jogo-info > p {
    margin: 0;
    padding: 0;
    background-color: transparent;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
    font-weight: 600;
}

.preco-nota {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .4rem 0rem;
    gap: .5rem;
    background-color: transparent;
}

.jogo-preco {
    font-size: medium;
    color: var(--green);
    margin-right: auto;
    max-width: 70%;
}


.jogo-nota {
    width: 3rem;
    height: 1.5rem;
    padding-bottom: .1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .25rem;
    font-size: small;
}

.jogo-btn {
    border: 1px solid var(--green);
    padding: .5rem;
    border-radius: .25rem;
    font-size: small;
}

.jogo-btn:hover {
    border-color: var(--green);
    cursor: pointer;
    color: var(--green);
}

.jogo-btn:active {
    color: white;
    background-color: var(--green);
}

@media (width <= 70rem)  {
    .container {
        margin: 1.5rem;
    }

    .jogos-lista {
        width: 100%;
    }
}






