.form__title > p {
    font-size: var(--font-subtitles);
}

.form__title > span {
    color: var(--primary);
}

.inputs {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    gap: 1rem;
}

.inputs--password {
    grid-template-columns: auto;
}


.input-group {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    font-size: var(--font-normal);
}



.input-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border: 1px solid var(--subtle-border-color);
    background-color: transparent;
    border-radius: .5rem;
}

.input-wrapper:focus-within {
    border: 1px solid var(--primary);
}

.input-wrapper > input {
    background-color: transparent;
    font-family: inherit;
    outline: none;
    border: none;
    width: 100%;
}

.errors {
    font-size: var(--font-small);
}

.btn-submit {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    gap: .5rem;
    font-family: inherit;
    padding: .5rem;
    border: none;
    border-radius: .5rem;
    background-color: rgba(var(--success), .2);
    color: rgb(var(--success));
}

.btn-submit > span {
    font-size: var(--font-subtitles);
}

.btn-submit:hover {
    cursor: pointer;
    background-color: rgba(var(--success), .3);
}

.btn-submit:active {
    background-color: rgba(var(--success), .2);
}

.btn-submit--disabled {
    opacity: .3;
}

.btn-submit--disabled:hover {
    cursor: default;
    background-color: rgba(var(--success), .2);
}


.input--invalid {
    border: 1px solid rgba(var(--error), .4);
}

.input--valid {
    border: 1px solid rgba(var(--success), .3);
}

.warning {
    display: flex;
    align-items: center;
    font-size: var(--font-small);
    gap: .5rem;
    color: rgb(255, 255, 0);
}

.warning span {
    /* padding: .5rem; */
    /* border-radius: 50%; */
    font-size: var(--font-subtitles);
    /* background-color: rgba(255, 255, 0, .1); */
}
