<ng-container *ngIf="usuario">
    <form class="form" [formGroup]="form">
        <div class="inputs">

            <div class="input-group">
            
                <label>E-mail</label>
                <div class="input-wrapper" [ngClass]="{'input--invalid': isInvalid(email!), 'input--valid': isValid(email!, usuario.email)}">
                    <input type="text" formControlName="email" >
                    <span class="material-symbols-rounded" [ngClass]="{ 'error': isInvalid(email!), 'success': isValid(email!, usuario.email) }">
                        {{ isInvalid(email!) ? 'close' : ''}}
                        {{ isValid(email!, usuario.email) ? 'check' : ''}}
                        <div style="margin-right: .25rem;" *ngIf="email?.pending && email?.dirty">
                            <app-loader></app-loader>
                        </div>
                    </span>
                </div>
                
                <div class="errors" *ngIf="isInvalid(email!)">
                    <p class="error" *ngIf="isError('email', 'taken')">E-mail já cadastrado.</p>
                    <p class="error" *ngIf="isError('email', 'required')">E-mail é requerido.</p>
                    <p class="error" *ngIf="isError('email', 'email')">E-mail inválido.</p>
                </div>
            </div>
            
            
            <div class="input-group">
            
                <label >Nome de usuário</label>
                <div class="input-wrapper" [ngClass]="{'input--invalid': isInvalid(username!), 'input--valid': isValid(username!, usuario.username)}">
                    <input type="text" formControlName="username">
                    <span class="material-symbols-rounded" [ngClass]="{ 'error': isInvalid(username!), 'success': isValid(username!, usuario.username)}">
                        {{ isInvalid(username!) ? 'close' : ''}}
                        {{ isValid(username!, usuario.username) ? 'check' : ''}}
                        <div style="margin-right: .25rem;" *ngIf="username?.pending && username?.dirty">
                            <app-loader></app-loader>
                        </div>
                    </span>
                </div>
                
                <div class="errors" *ngIf="isInvalid(username!)">
                    <p class="error" *ngIf="isError('username', 'taken')">Nome de usuário indisponível.</p>
                    <p class="error" *ngIf="isError('username', 'required')">Nome de usuário é requerido.</p>
                </div>
            </div>
            
            <div class="input-group">
            
                <label>Nome</label>
                <div class="input-wrapper" [ngClass]="{'input--valid': isValid(nome!, usuario.nome) }">
                    <input type="text" formControlName="nome">
                    <span class="material-symbols-rounded success">
                        {{ isValid(nome!, usuario.nome) ? 'check' : ''}}
                    </span>
                </div>
            </div>
        </div>
        <button (click)="handleSubmit()" class="btn-submit" type="submit" [disabled]="isNotSubmittable()" [ngClass]="{'btn-submit--disabled': isNotSubmittable()}">
            <span class="material-symbols-rounded icon--filled-bolder">check_circle</span>
            <p>Confirmar</p>
        </button>
    </form>
</ng-container>
